{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ul class="list-unstyled">
        {% for block_info in block_infos %}
        <li style="margin-top: 20pt;">
            <div class="card">
                <div class="card-body container text-info-emphasis bg-info-subtle border border-info-subtle">
                    <div class="card-title">View: {{ block_info.view }}</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">elect height: {{ block_info.elect_height }}</li>
                    <li class="list-group-item">leader idx: {{ block_info.leader_idx }}</li>
                    <li class="list-group-item">msg: {{ block_info.msg_hash }}</li>
                    <li class="list-group-item">partial signs: {{ block_info.partial_sign_map }}</li>
                    <li class="list-group-item">reconstructed sign: {{ block_info.reconstructed_sign }}</li>
                    <li class="list-group-item">common pk: {{ block_info.common_pk }}</li>
                  </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}